* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: $rubik;
    font-size: 8rem;
}

li, a {
    text-decoration: none;
    font-size: $p;
}

body {
    margin: 0;
}