.hero {
    position: relative;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/images/home_hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero-content {
    position: relative;
    color: $white;
    text-align: center;
}

.hero-title {
    margin-bottom: 0;
    .red {
        color: $red;
    }
}

.hero-subtitle {
    margin-top: 1.25rem;
    margin-bottom: 0;
    padding: 0 10%;
}

.cta-btn {
    background-color: $red;
    color: $white;
    border: none;
    margin-top: 2.5rem;
    box-shadow: 0 0.25rem 1rem rgba(255, 4, 0, 0.35);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.cta-btn:hover {
    background-color: $white;
    color: $red;
    box-shadow: 0 0.25rem 1rem rgba(255, 255, 255, 0.35);
}

.mission {
    position: relative;
    width: auto;
    // height: 52.5rem;
    padding: 0 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

@media (min-width: 1000px) {
    .mission {
        flex-direction: row;
    }
}

.mission-left {
    padding: 12.5625rem 0;
    order: 1;
    flex: 7;
    box-sizing: border-box;
}

.btn-blktored {
    background-color: transparent;
    color: $black;
    border: 2px solid $black;
    margin-top: 2.5rem;
    box-shadow: 0 0.25rem 1rem rgba(26, 26, 26, 0.35);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.btn-blktored:hover {
    color: $red;
    border: 2px solid $red;
    box-shadow: 0 0.25rem 1rem rgba(255, 4, 0, 0.35);
}

.mission-right {
    order: 2;
    flex: 6;
    box-sizing: border-box;
    text-align: center;
}

.testimonials {
    position: relative;
    width: auto;
    height: 100vh;
}

.testimonials::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.shapes-layer {
    position: absolute;
    .greentriangle {
        z-index: 5;
    }
}

.testimonials-content {
    position: relative;
    color: $white;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.testimonials-top {
    padding: 3%;
}

.slides {
    position: relative;
    width: auto;
    margin-top: 1.25rem;
    padding: 0 10rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media (max-width: 1200px) {
    .slides {
        flex-direction: column;
    }
}

.slides-card {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    flex-direction: column;
    flex-basis: 30%;

    .quote-card {
        width: auto;
        height: auto;
        padding: 8%;
        background: linear-gradient(90deg, rgba(32, 32, 32, 0.75) 0%, rgba(30, 30, 30, 0.75) 100%);
        border-radius: 1rem;
        text-align: left;
    }

    .profile-card {
        width: auto;
        height: auto;
        display: flex;
        margin-top: 1rem;
        text-align: left;
        .profile-card-img {
            flex: 1;
            img {
                width: 5vw;
            }
        }
        .profile-card-info {
            flex: 3;
            display: flex;
            flex-direction: column;
            text-align: left;
            .name {
                text-transform: uppercase;
                h4 {
                    font-weight: 700;
                }
            }
        }
    }
}

.btn-whttogold {
    background-color: transparent;
    color: $white;
    border: 2px solid $white;
    margin-top: 10rem;
    box-shadow: 0 0.25rem 1rem rgba(26, 26, 26, 0.35);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.btn-whttogold:hover {
    color: $yellow;
    border: 2px solid $yellow;
    box-shadow: 0 0.25rem 1rem rgba(255, 199, 0, 0.35);
}

.clubs {
    position: relative;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clubs::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.clubs-content {
    position: relative;
    color: $black;
    text-align: center;
}