// colors

$black: #1A1A1A;
$white: #FFF;
$red: #FF0400;
$yellow: #FFC700;

// fonts

$rubik: 'Rubik', sans-serif;
$karla: 'Karla', sans-serif;

// font sizes

$h1: 8rem; //128px
$h2: 4.5rem; //72px
$h3: 3rem; //36px
$h4: 2rem; //36px
$h5: 1.5rem; //24px
$p: 1.125rem; //18px