.hero {
  position: relative;
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/images/home_hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero-content {
  position: relative;
  color: #FFF;
  text-align: center;
}

.hero-title {
  margin-bottom: 0;
}

.hero-title .red {
  color: #FF0400;
}

.hero-subtitle {
  margin-top: 1.25rem;
  margin-bottom: 0;
  padding: 0 10%;
}

.cta-btn {
  background-color: #FF0400;
  color: #FFF;
  border: none;
  margin-top: 2.5rem;
  box-shadow: 0 0.25rem 1rem rgba(255, 4, 0, 0.35);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.cta-btn:hover {
  background-color: #FFF;
  color: #FF0400;
  box-shadow: 0 0.25rem 1rem rgba(255, 255, 255, 0.35);
}

.mission {
  position: relative;
  width: auto;
  padding: 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

@media (min-width: 1000px) {
  .mission {
    flex-direction: row;
  }
}

.mission-left {
  padding: 12.5625rem 0;
  order: 1;
  flex: 7;
  box-sizing: border-box;
}

.btn-blktored {
  background-color: transparent;
  color: #1A1A1A;
  border: 2px solid #1A1A1A;
  margin-top: 2.5rem;
  box-shadow: 0 0.25rem 1rem rgba(26, 26, 26, 0.35);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.btn-blktored:hover {
  color: #FF0400;
  border: 2px solid #FF0400;
  box-shadow: 0 0.25rem 1rem rgba(255, 4, 0, 0.35);
}

.mission-right {
  order: 2;
  flex: 6;
  box-sizing: border-box;
  text-align: center;
}

@media (max-width: 750px) {
  .mission-right img {
    width: 200px;
  }
}

.testimonials {
  position: relative;
  width: auto;
  height: 100vh;
}

.testimonials::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1A1A1A;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.shapes-layer {
  display: none;
}

@media (min-width: 1200px) {
  .shapes-layer {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
  }
  .shapes-layer .shape {
    position: absolute;
  }
  .shapes-layer .greentriangle {
    left: 20%;
    top: 5vh;
  }
  .shapes-layer .purpleline {
    left: 3%;
    top: 15vh;
  }
  .shapes-layer .yellowsqrhole {
    left: 30%;
    top: 25vh;
  }
  .shapes-layer .redsmallhex {
    left: 2%;
    top: 34vh;
  }
  .shapes-layer .largegreencircle {
    left: 12%;
    top: 55vh;
  }
  .shapes-layer .blueline {
    left: 30%;
    top: 70vh;
  }
  .shapes-layer .greencirclehollow {
    left: 4%;
    top: 85vh;
  }
  .shapes-layer .purplecircle {
    left: 70%;
    top: 7vh;
  }
  .shapes-layer .yellowline {
    left: 75%;
    top: 35vh;
  }
  .shapes-layer .tinygreencircle {
    left: 64%;
    top: 40vh;
  }
  .shapes-layer .bluetri {
    left: 78%;
    top: 50vh;
  }
  .shapes-layer .greenline {
    left: 62%;
    top: 65vh;
  }
  .shapes-layer .largeredhex {
    left: 75%;
    top: 70vh;
  }
  .shapes-layer .smallyellowsqr {
    left: 90%;
    top: 80vh;
  }
}

.testimonials-content {
  position: relative;
  color: #FFF;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.testimonials-top {
  padding: 3%;
}

.slides {
  position: relative;
  width: auto;
  margin-top: 1.25rem;
  padding: 0 10rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@media (max-width: 1200px) {
  .slides {
    flex-direction: column;
    margin-top: .5rem;
    padding: 0 5rem;
  }
}

.slides-card {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  flex-direction: column;
  flex-basis: 30%;
}

.slides-card .quote-card {
  width: auto;
  height: auto;
  padding: 8%;
  background: linear-gradient(90deg, rgba(32, 32, 32, 0.75) 0%, rgba(30, 30, 30, 0.75) 100%);
  border-radius: 1rem;
  text-align: left;
}

.slides-card .profile-card {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 1rem;
  text-align: left;
}

.slides-card .profile-card .profile-card-img {
  flex: 1;
}

.slides-card .profile-card .profile-card-img img {
  width: 5vw;
}

.slides-card .profile-card .profile-card-info {
  flex: 3;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.slides-card .profile-card .profile-card-info .name {
  text-transform: uppercase;
}

.slides-card .profile-card .profile-card-info .name h4 {
  font-weight: 700;
}

@media (max-width: 1200px) {
  .slides-card .quote-card {
    padding: 5%;
  }
}

.btn-whttogold {
  background-color: transparent;
  color: #FFF;
  border: 2px solid #FFF;
  margin-top: 2rem;
  box-shadow: 0 0.25rem 1rem rgba(26, 26, 26, 0.35);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .btn-whttogold {
    margin-top: 2rem;
  }
}

.btn-whttogold:hover {
  color: #FFC700;
  border: 2px solid #FFC700;
  box-shadow: 0 0.25rem 1rem rgba(255, 199, 0, 0.35);
}

.clubs {
  position: relative;
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 2rem;
}

.clubs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.clubs-left {
  flex: 1;
  position: relative;
  color: #1A1A1A;
}

.clubs-right {
  flex: 1;
  position: relative;
  color: #1A1A1A;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clubs-right .club-card {
  width: 20rem;
  height: auto;
  background: linear-gradient(136.5deg, #FBFBFB 0%, #F5F5F5 100%);
  box-shadow: 0px 4px 15px rgba(193, 193, 193, 0.35);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
}

.clubs-right .club-card .club-card-top {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.clubs-right .club-card .club-card-top .icon-back {
  width: 4rem;
  height: 4rem;
  background-color: #FF0400;
  padding: 4px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clubs-right .club-card .club-card-top .icon-back .iconify {
  color: #FFF;
  font-size: 36px;
}

@media (max-width: 1200px) {
  .clubs-right {
    display: none;
  }
}

iframe {
  width: 100%;
  height: 5307px;
  border: 0;
  margin: 0;
}

.mentor-landing {
  position: relative;
  width: auto;
  height: 75vh;
  padding: 5rem;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media (max-width: 1000px) {
  .mentor-landing {
    flex-direction: column;
  }
  .mentor-landing .mentor-landing-right {
    display: none;
  }
}

.mentor-landing-left {
  color: #1A1A1A;
  flex: 1;
}

.mentor-landing-right {
  flex: 1;
}

.mentor-landing-right img {
  width: 100%;
  height: auto;
}

.mentor-stats {
  position: relative;
  width: auto;
  height: 25vh;
  padding: 1rem 5rem;
  background-color: #FFF;
  display: flex;
  justify-content: left;
}

.stats {
  margin: 0 5rem 0 0;
  width: 20%;
}

.redword {
  color: #FF0400;
}

.mentor-why {
  position: relative;
  width: auto;
  height: 100vh;
  padding: 2rem 5rem;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.mentor-why-top {
  text-align: center;
}

.mentor-why-cards {
  display: flex;
  gap: 2rem;
  margin-top: 5%;
}

@media (max-width: 1000px) {
  .mentor-why {
    height: auto;
  }
  .mentor-why-cards {
    flex-direction: column;
  }
}

.mentor-card {
  background: #FFFFFF;
  box-shadow: 0px 15px 35px rgba(26, 26, 26, 0.15);
  border-radius: 32px;
  padding: 3rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.mentor-card img {
  width: 80%;
}

.mentor-ready {
  position: relative;
  width: 100%;
  height: auto;
  padding: 2rem 5rem;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  margin-top: 5rem;
}

.ambassadors {
  position: relative;
  width: auto;
  height: 85vh;
  padding: 5rem;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media (max-width: 1000px) {
  .ambassadors {
    flex-direction: column;
  }
  .ambassadors .ambassadors-landing-right {
    display: none;
  }
}

.ambassadors-landing-left {
  color: #1A1A1A;
  flex: 1;
}

.ambassadors-landing-right {
  flex: 1;
}

.ambassadors-landing-right img {
  width: 100%;
  height: auto;
}

.ambassadors-profiles {
  position: relative;
  width: 100%;
  height: auto;
  padding: 5rem;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.profile-card {
  width: 25%;
  height: auto;
  margin: 2rem;
  text-align: center;
}

.profile-card img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease 0s;
  border-radius: 2rem;
}

.profile-card img:hover {
  transform: scale(1.05);
  box-shadow: 0px 15px 35px rgba(26, 26, 26, 0.15);
}

.ambassadors-board-left {
  flex: 1;
}

.ambassadors-board-left img {
  width: 100%;
  height: auto;
}

.ambassadors-board-right {
  color: #1A1A1A;
  flex: 1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-width: 0;
  min-height: 0;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 8rem;
  font-weight: 700;
}

h2 {
  font-family: "Rubik", sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 4rem;
  }
}

h3 {
  font-family: "Karla", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

h4 {
  font-family: "Karla", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

h5 {
  font-family: "Karla", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  font-family: "Karla", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}

li, a {
  text-decoration: none;
  font-size: 1.125rem;
}

button, button:hover {
  font-family: "Karla", sans-serif;
  border-radius: 3rem;
  padding: 1.6875rem 3rem;
  font-size: 3rem;
  font-weight: 700;
}

body {
  margin: 0;
}

.header {
  display: flex;
  background-color: #FFF;
  justify-content: flex-end;
  align-items: center;
  padding: 1.375rem 10%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.logo img {
  width: 5rem;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 2rem;
}

.nav-links li a {
  font-family: "Karla", sans-serif;
  color: #1A1A1A;
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #FF0400;
}

footer {
  width: auto;
  position: relative;
  padding: 4.5rem 0;
  background-color: #1A1A1A;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  flex-direction: column;
}

footer a {
  text-decoration: none;
  color: #FFF;
}

footer a:visited {
  text-decoration: none;
  color: #FFF;
}

footer a:hover {
  color: #FF0400;
  text-decoration: underline;
}

.footer-layer {
  margin: 1.5rem 0;
}

.social-icons {
  display: flex;
}

.social-icons .icon {
  background-color: #2F2F2F;
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3rem;
}

.social-icons .icon .iconify {
  font-size: 2.5rem;
}

.footer-information {
  display: flex;
}

.footer-information .info {
  margin: 0 3rem;
}

.footer-links {
  display: flex;
  flex-direction: row;
}

.footer-links .footer-indiv-link {
  margin: 0 3rem;
}

.footer-bu {
  cursor: pointer;
}

.footer-bu img {
  width: 8rem;
}

@media (max-width: 900px) {
  a, p {
    font-size: 14px;
  }
}
/*# sourceMappingURL=main.css.map */