.header {
    display: flex;
    background-color: $white;
    justify-content: flex-end;
    align-items: center;
    padding: 1.375rem 10%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    img {
        width: 5rem;
    }
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 2rem;
}

.nav-links li a {
    font-family: $karla;
    color: $black;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: $red;
}