// for index.html specifically

.hero {
    position: relative;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/static/images/home_hero.png);
    background-color: $black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero-content {
    position: relative;
    color: $white;
    text-align: center;
}

.hero-title {
    margin-bottom: 0;
    .red {
        color: $red;
    }
}

.hero-subtitle {
    margin-top: 1.25rem;
    margin-bottom: 0;
    padding: 0 10%;
}

.cta-btn {
    background-color: $red;
    color: $white;
    border: none;
    margin-top: 2.5rem;
    box-shadow: 0 0.25rem 1rem rgba(255, 4, 0, 0.35);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.cta-btn:hover {
    background-color: $white;
    color: $red;
    box-shadow: 0 0.25rem 1rem rgba(255, 255, 255, 0.35);
}

.mission {
    position: relative;
    width: auto;
    padding: 0 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

@media (min-width: 1000px) {
    .mission {
        flex-direction: row;
    }
}

.mission-left {
    padding: 12.5625rem 0;
    order: 1;
    flex: 7;
    box-sizing: border-box;
}

.btn-blktored {
    background-color: transparent;
    color: $black;
    border: 2px solid $black;
    margin-top: 2.5rem;
    box-shadow: 0 0.25rem 1rem rgba(26, 26, 26, 0.35);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.btn-blktored:hover {
    color: $red;
    border: 2px solid $red;
    box-shadow: 0 0.25rem 1rem rgba(255, 4, 0, 0.35);
}

.mission-right {
    order: 2;
    flex: 6;
    box-sizing: border-box;
    text-align: center;
}

@media (max-width: 750px) {
    .mission-right {
        img {
            width: 200px;
        }
    }
}

.testimonials {
    position: relative;
    width: auto;
    height: auto;
}

.testimonials::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    word-wrap: normal;
}

.shapes-layer {
    display: none;
}

@media (min-width: 1200px) {
    .shapes-layer {
        width: 100%;
        height: auto;
        display: block;
        position: absolute;
        .shape {
            position: absolute;
        }
        .greentriangle {
            left: 20%;
            top: 5vh;
        }
        .purpleline {
            left: 3%;
            top: 15vh;
        }
        .yellowsqrhole {
            left: 30%;
            top: 25vh;
        }
        .redsmallhex {
            left: 2%;
            top: 34vh;
        }
        .largegreencircle {
            left: 12%;
            top: 55vh;
        }
        .blueline {
            left: 30%;
            top: 70vh;
        }
        .greencirclehollow {
            left: 4%;
            top: 85vh;
        }
        .purplecircle {
            left: 70%;
            top: 7vh;
        }
        .yellowline {
            left: 75%;
            top: 35vh;
        }
        .tinygreencircle {
            left: 64%;
            top: 40vh;
        }
        .bluetri {
            left: 78%;
            top: 50vh;
        }
        .greenline {
            left: 62%;
            top: 65vh;
        }
        .largeredhex {
            left: 75%;
            top: 70vh;
        }
        .smallyellowsqr {
            left: 90%;
            top: 80vh;
        }
    }
}

.testimonials-content {
    position: relative;
    color: $white;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.testimonials-top {
    margin-top: 4rem;
    padding: 3%;
}

.slides {
    position: relative;
    width: auto;
    margin-top: 1.25rem;
    padding: 0 10rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media (max-width: 1200px) {
    .slides {
        flex-direction: column;
        margin-top: .5rem;
        padding: 0 5rem;
    }
}

.slides-card {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    flex-direction: column;
    flex-basis: 30%;

    .quote-card {
        width: auto;
        height: auto;
        padding: 8%;
        background: linear-gradient(90deg, rgba(32, 32, 32, 0.75) 0%, rgba(30, 30, 30, 0.75) 100%);
        border-radius: 1rem;
        text-align: left;
    }

    .card-profile {
        width: 100%;
        height: auto;
        display: flex;
        margin-top: 1rem;
        text-align: left;
        .card-profile-img {
            flex: 1;
            img {
                width: 5vw;
            }
        }
        .card-profile-info {
            flex: 3;
            display: flex;
            flex-direction: column;
            text-align: left;
            .name {
                text-transform: uppercase;
                h4 {
                    font-weight: 700;
                }
            }
        }
    }

    @media (max-width: 1200px) {
        .quote-card {
            padding: 5%;
        }
    }
}

.btn-whttogold {
    background-color: transparent;
    color: $white;
    border: 2px solid $white;
    margin-top: 2rem;
    box-shadow: 0 0.25rem 1rem rgba(26, 26, 26, 0.35);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-bottom: 8rem;
}

@media (max-width: 1200px) {
    .btn-whttogold {
        margin-top: 2rem;
    }
}

.btn-whttogold:hover {
    color: $yellow;
    border: 2px solid $yellow;
    box-shadow: 0 0.25rem 1rem rgba(255, 199, 0, 0.35);
}

.clubs {
    position: relative;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
}

.clubs::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.clubs-left {
    flex: 1;
    position: relative;
    color: $black;
}

.clubs-right {
    flex: 1;
    position: relative;
    color: $black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .club-card {
        width: 20rem;
        height: auto;
        background: linear-gradient(136.5deg, #FBFBFB 0%, #F5F5F5 100%);
        box-shadow: 0px 4px 15px rgba(193, 193, 193, 0.35);
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 2rem;
        margin-left: 2rem;
        margin-top: 2rem;

        .club-card-top {
            display: flex;
            align-items: center;
            gap: 2rem;
            
            .icon-back {
                width: 4rem;
                height: 4rem;
                background-color: $red;
                padding: 4px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .iconify {
                    color: $white;
                    font-size: 36px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .clubs-right {
        display: none;
    }
}

.mailing-list {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 5rem;
    background-image: url(/static/images/mailing-list-background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: $white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mailing-list form {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}


.mailing-list form input {
    font-size: $p;
    font-family: $karla;
    width: 100%;
    padding: 0.5rem;
    outline: 0;
    border-radius: 0.35rem;
    border: #e2e2e2 solid 2px;
}

.mailing-list form input:focus {
    border: $red solid 2px;
}

.mailing-list form button, .maiing-list form button:hover {
    font-family: $karla;
    border-radius: 3rem;
    padding: 1rem 2rem;
    font-size: $p;
    font-weight: 700;
}

.mailing-list form button {
    background-color: $black;
    border: none;
    color: $white;
    transition: all ease 200ms;
    outline: 0;
}

.mailing-list button:hover, .mailing-list button:focus {
    box-shadow: 0px 15px 35px rgba(26, 26, 26, 0.25);
}

.mailing-list button:active {
    background-color: $red;
    color: $white;
}

.mailing-list form .full {
    grid-column: 1 / 3;
}

@media (max-width: 550px) {
    .mailing-list {
        h2 {
            font-size: $h3;
        }
        h4 {
            font-size: $p;
        }
        form input {
            font-size: 14px;
        }
    }
}